
<!-- <%= link_to "New monument", new_monument_path %> -->
<div class="container">
  <div class="row">
    <div class="col">

      <p style="color: green"><%= notice %></p>

      <h1>Monuments</h1>
      
      <div id="monuments">
        <% @monuments.each do |monument| %>
          <%= render monument %>
          <p>
            <%= link_to "Show this monument", monument %>
          </p>
        <% end %>

<div data-controller="toggle" class="mt-5">
  <button class="btn btn-primary mb-3">Add a new monument</button>
  <div data-target-toggle="toggleform" class="d-none">
    <%= render "form", monument: @monument  %>
  </div>

</div>


      </div>
    </div>
  </div>
</div>